:root{
	 --primary-color: #324CA8;
	 --color-of-lines: #F7FFE5;
}

html,body{
	
	width: 100%;
	height: 100%;
	margin: 0;
	
}

body{
	background-image: url(bg.jpg);
	background-size: cover;
}

p{
	
	font-family: sans-serif;
}

a{
	color: var(--primary-color);
}

.header{
	height: 3rem;
	background-color: #E1FFFF;
	opacity: 0.7;
	margin: 0;
	display: flex;
}

.main{
	height: calc(100% - 7rem);
	margin: 0;
	overflow: auto;
	display: flex;
	align-items: center;
}

.footer{
	height: 4rem;
	background-color: #E1FFFF;
	opacity: 0.7;
	margin: 0;
	display: flex;
}

.name-of-chat{
    width: 20%;
    height: 100%;
	
}

.name-of-chat p{
	font-size: 24px;
	color: var(--primary-color);
	margin: 0;
	margin-top: 0.7rem;
	margin-left: 0.7rem;
}

.name-of-user{
	width: 60%;
	height: 100%;
	text-align: center;
	margin: 0 auto;
}

.name-of-user p{
	font-size: 24px;
	color: var(--primary-color);
	margin: 0;
	margin-top: 0.7rem;
}

.exit{
	width: 20%;
	height: 100%;
	text-align: right;
}

.exit p{
	
	font-size: 24px;
	color: var(--primary-color);
	margin: 0;
	margin-top: 0.7rem;
	margin-right: 0.7rem;
}


.date-of-changes{
	width: 35%;
    height: 100%;
	text-align: left;
}

.name-of-chat-1{
	width: 30%;
    height: 100%;
	text-align: center;
	margin: 0 auto;
}

.data-of-author{
	width: 35%;
	height: 100%;
	text-align: right;
}

.date-of-changes p{
	font-size: 14px;
	color: var(--primary-color);
	margin: 0;
	margin-top: 1.5rem;
	margin-left: 0.7rem;
	
}

.name-of-chat-1 p{
	font-size: 24px;
	color: var(--primary-color);
	margin: 0;
	margin-top: 1rem;
}

.data-of-author p{
	font-size: 15px;
	color: var(--primary-color);
	margin: 0;
	margin-top: 0.9rem;
	margin-right: 1.5rem;
}



.message-box-1{
	width: 60%;
	height: 86%;
	min-width: 735px;
	min-height: 30rem;
	background-color: rgb(147, 203, 255, 0.6);;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	
}

.your-messages{
	width: 100%;
	height: 6%;
	border-bottom: 12px solid rgb(255, 254, 229, 0.5);
	text-align: center;
	padding-top: 0.5rem;
}


.your-messages p{
	margin: 0;
	color: white;
	font-size: 26px;
}

.common-chat{
	width: 28%;
	height: 90.4%;

}

.chat{
	width: 72%;
	height: 90.7%;
	
}

.photo-and-chat{
	width: 100%;
	height: 15%;
	border-bottom: 2px solid rgb(255, 254, 229, 0.5);
	border-right: 2px solid rgb(255, 254, 229, 0.5);
	display: flex;
	align-items: center;
}

.photo-and-chat img{
	width: 2.7rem;
	height: 2.7rem;
	margin-left: 1rem;
	margin-right: 0.9rem;
}

.photo-and-chat p{
	color: white;
	font-size: 16px;
}

.chat-users{
	width: 100%;
	height: 22.5%;
	border-bottom: 2px solid rgb(255, 254, 229, 0.5);
	border-right: 2px solid rgb(255, 254, 229, 0.5); 
	display: flex;
    align-items: flex-end;
}

.chat-users p{
	color: white;
	margin: 0;
}

.users{
	width: 100%;
	height: 61.4%;
	border-right: 2px solid rgb(255, 254, 229, 0.5); 
}

.user{
	width: 100%;
	height: 19.28%;
	border-bottom: 2px solid rgb(255, 254, 229, 0.5);
	display: flex;
	align-items: center;
}

.user img{
	width: 20%;
	height: 75%;
	min-width: 2.5rem;
	min-height: 2.5rem;
	margin-right: 1.3rem;
	margin-left: 1rem;
}

.user p{
	color: white;
	
}

.infa{
	width: 115%;
	height: 15%;
	display: flex;
	border-bottom: 2px solid rgb(255, 254, 229, 0.5);
}

.photo-and-chat-1{
	width: 37%;
	height: 100%;
	display: flex;
	align-items: center;
}

.photo-and-chat-1 img{
	width: 2.7rem;
	height: 2.7rem;
	margin-right: 1.2rem;
	margin-left: 1rem;
}

.photo-and-chat-1 p{
	color: white;
	font-size: 20px;
}

.number-of-users{
	width: 40%;
	height: 100%;
	font-size: 12px;
	display: flex;
	align-items: center;
}

.number-of-users p{
	
	color: white;
}

.filters{
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: flex-end; 
	color: white;
	align-items: center;	
}

.redactor{
	margin-left: auto;
	width: 10rem;
	height: 100%;
	border-color: white;
	align-items: flex-start;
}

.filtr{
	font-size: 17px;
	
	margin-top: 9.5rem;
	
}

.button-1{	
	background-color: var(--color-of-lines);
	outline: 0 !important;
}

.button-1 p{
	margin: 0;
}

.chat-box{
	width: 100%;
	height: 72.5%;
	overflow:hidden;
}

.send{
	width: 100%;
	height: 11.4%;
	border-top: 2px solid rgb(255, 254, 229, 0.5);
	display: flex;
}

.send-box{
	width: 84%;
	height: 100%;
	padding: 0;
	opacity: 0.7;
	margin-left: 2px;
	border: 0;
	outline: 0 !important;
	border-radius: 0;
	background-color: var(--color-of-lines);
}

.button-2{
	width: 16%;
	border-radius: 0;
	border: 0;
	background: linear-gradient(0deg, #F7FFC3, #A0FFB0);
	outline: 0 !important;
}

.download-more{
	width: 100%;
	height: 6%;
	margin-top: 0.4rem;
	text-align: center;

}

.button-4{
	background-color:  #819CFF;
	color: white;
	border: 1px solid #3F61DA;	
	outline: 0 !important;
	z-index: 3;
}

.button-4 p{
	margin: 0;
}

.message{
	margin-top:1.2rem;
	margin-left: 0.6rem;
	height: 9%;
	

}

.text-message{
	background-color: var(--color-of-lines);
	opacity: 0.9;
	min-width: 5.9rem;
	padding: 0.4rem;
	border-radius: 10px 0 10px 0;
	display: flex;

}

.your-text-message{
	background-color: #DAFFBC;
	opacity: 0.9;
	padding: 0.4rem;
	border-radius: 10px 0 10px 0;
	display: flex;
}

#tm-2{
	width: 4rem;
}



.text-message p{
	margin: 0;
	font-size: 15px;
}

.your-text-message img{
	width: 0.3rem;
	height: 1rem;
	margin: 0;
	margin-left: 0.3rem;
	
}

.date-and-name p{
	margin: 0;
	font-size: 11px;
	opacity: 0.7;
}

.your-message{
	margin-top:1.5rem;
	margin-left: 0.6rem;
	display: inline-block;
    vertical-align: top;
}

.your-text-message p{
	margin: 0;
	font-size: 15px;
}

#m-2{
	margin-bottom: 1rem;
	margin-top: 2.3rem;
}

.your-date-and-name p{
	margin: 0;
	font-size: 11px;
	opacity: 0.7;
}

.mess{
	
	width: 20%;
	height: 100%;
	min-width: 129px;
}

#m-1{
	width: 50%;
}

#tm-1{
	width: 1rem;
}

.active-users{
	padding-top: 10rem;
	padding-left: 0.5rem;
}

.container{
	font-size: 17px;
	color: white;
}

.empty{
	width: 100%;
	height: 50%;
}

.checkmark{
	background-color: white;
	height: 10rem;
	width: 6.6rem;
	visibility: hidden;
	background-color: #E7F8FF;
	border: 1px solid #1345C5;
	
}




#m-3{
	width: 20%;
	min-width: 140px;
}

.today p{
	color: #F7FFE5;
	font-size: 20px;
	text-align: center;
}

#tm-4{
	width: 12rem;
}

#tm-5{
	width: 12rem;
	margin-top: 1rem;
}

.active-users p{
	font-size: 13px;
	width: 5rem;
	margin-left: 0.9rem;

		
}

.online{
	height: 20%;
}

.online p{
	color: #324CA8;
	font-size: 18px;
	margin: 0;
	margin-left: 0.5rem;
}

.active-user{
	width: 100%;
	height: 20%;
	display: inline-flex;
}

.active-user p{
	color: black;
	margin: 0;
	font-size: 16.5px;
	margin-left: 0.3rem;
	width: 60%;
} 

.active-user img{
	width: 1rem;
	height: 1rem;
	margin-left: 0.7rem;
	margin-top: 0.1rem;
}

.filt-box{
	width: 11rem;
	height: 9.5rem;
	background-color: #E7F8FF;
	border: 1px solid #4E75FF;
	visibility: hidden;
	z-index: 5;

}


.filt-date{
	height: 20%;
	width: 100%;
	display: inline-flex;
}

.filt-date p{
	margin: 0;
	margin-top: 0.5rem;
	margin-left: 0.3rem;
	color: black;
}	

#filt-date-1 p{
	font-size: 12px;

}

#filt-date-2 p{
	font-size: 12px;
	margin-right: 0.9rem;
}

.ok{
	margin-left: 9rem;
	margin-top: 0.3rem;
	margin-right: 0.4rem;
	border: 0;
	background-color: #D3E5FF;
}

.inp{
	width: 60%;
	height: 70%;
	margin-top: 0.2rem;
}

#inp-1{
	
	width: 61%;
	height: 73%;
}


#inp-2{
	margin-left: 1.15rem;
}

.onl-user{
	width: 10px; 
	height: 10px;
	border-radius: 50%;
	background-color: #D3FFEF;
	margin-right: 1rem;
	margin-left: auto;
}



.active-users:hover .active-users-1{
	display: block;
}

.butt:hover .butt-1{
	display: block;
}

.button-2:hover{
	font-size: 18px;
}

.button-4:active{
	color: blue;
}

.button-2:active{
	background: linear-gradient(0deg, #A0FFB0, #F7FFC3);
	color: white;
}


.container input:checked ~ .checkmark {
    visibility: visible;
}

.filtr input:checked ~ .filt-box {
    visibility: visible;
}






