:root{
	 --primary-color: #324CA8;
	 --size: 20px;
	 --color-of-lines: #FFFEE5;
}

body, html{
	position: relative;
	height: 100%;
	width: 100%;
	margin: 0;
}


a{
		color: var(--primary-color);
}

p{
	font-family: sans-serif;
}

.header{
	width: 1560px;
	height: 2.9rem;
	position: absolute;
	top: 0px; left: 0px;
	background-color: #E1FFFF;
	opacity: 0.7;
}

.chat-name{
	width: 200px;
	float: left;
	height: 50px;
}

.flexchat{
	color: var(--primary-color);
	opacity: 0.9;
	font-size: 24px;
	position: absolute;
	top: 10px; left: 10px;
}

.user-name{
	width: 1100px;
	height: 2.5*var(--size);
	

	float: left;
	
	
}

.user-name p{
	text-align: center;
	font-size: 24px;
	color: #324CA8;
	opacity: 0.9;
	position: absolute;
	top: -15px; left: 610px;
}

.buttons{
	width: 200px;
	float: left;
	height: 50px;

}	
.buttons a{
	font-size: 24px;
	opacity: 0.9;
	position: absolute;
	top: 8px; left: 1467px;

}	
.chat{
	width: 1560px;
	float: bottom;
	height: 625px;
	position: absolute;
	top: 50px; left: 0px;
}

.footer{
	width: 1560px;
	float: bottom;
	height: 63px;
	position: absolute;
	top: 677px; left: 0px;
	background-color: #E1FFFF;
	opacity: 0.7;
}

.date-of-changes{
	width: 300px;
	float: left;
	height: 58px;
}

.date-of-changes p{
	position: absolute;
	top: 5px; left: 10px;
	color: var(--primary-color);
	opacity: 0.8;
	
}

.logo{
	width: 1000px;
	float: left;
	height: 58px;
}

.logo p{
	font-size: 36px;
	color: var(--primary-color);
	position: absolute;
	top: -25px; left: 698px;
	opacity: 0.8;
}

.name-of-author{
	width: 10*var(--size);
	float: left;
	height: 58px;
}

.name-of-author pre{
	color: var(--primary-color);
	font-family : Arial;
	font-size: 14px;
	position: absolute;
	top: 0px; left: 1250px;
	opacity: 0.57;
}

.chatbox{	
	background-color: #93CBFF;
	width: 900px;	
	opacity: 0.6;
	height: 559px;
	position: absolute;
	top: 6%; left: 19.5%;
}

.your-messages{
	position: absolute;
	top: 0px; left: 43%;	
}

.your-messages p{
	opacity: 1.0 ;
	color: #FFFFFF;	
	font-size: 36px;	
}

.line{
	background-color: var(--color-of-lines);
	width: 900px;
	opacity: 0.6;
	height: 17px;
	position: absolute;
	top: 12%; left: 19.5%;
}

.vert-line{
	background-color: var(--color-of-lines);
	width: 2px;
	opacity: 0.6;
	height: 495px;
	position: absolute;
	top: 14.8%; left: 34.5%;
}

.photo{
	
	width: 52px;
	height: 52px;
	position: absolute;
	top: 14%; left: 20%;
	
}

.photo img{
	width: 40px;
	height: 40px;
}

.common-chat{
	position: absolute;
	top: 13.7%; left: 23.5%;
	width: 150px;
	height: 28px;
}

.common-chat p{
	font-size: 24px;
	color: #FFFFFF;
}

.goriz-lines{
	background-color: var(--color-of-lines);
	width: 234px;
	opacity: 0.6;
	height: 2px;
}

#line_1{
	width: 900px;
	position: absolute;
	top: 24.5%; left: 19.5%;
}

#line_2{
	position: absolute;
	top: 230px; left: 19.5%;
}

#line_3{
	position: absolute;
	top: 301.5px; left: 19.5%;
}

#line_4{
	position: absolute;
	top: 373px; left: 19.5%;
}

#line_5{
	position: absolute;
	top: 444.5px; left: 19.5%;
}

#line_6{
	position: absolute;
	top: 516px; left: 19.5%;
}

.bottom-line{
	background-color: var(--color-of-lines);
	width: 900px;
	opacity: 0.6;
	height: 9px;
	position: absolute;
	top: 587.5px; left: 19.5%;
}

.chat-users{
	position: absolute;
	top: 34.3%; left: 19.6%;
	color: white;
	font-size: 15px;
	font-family : Arial;
}
 
.chat-lines{
	background-color: var(--color-of-lines);
} 

#photo_1{
	position: absolute;
	top: 14%; left: 20%;
}

#photo_2{
	position: absolute;
	top: 14%; left: 40%;
}

.common-chat-1{
	position: absolute;
	top: 13.7%; left: 43.5%;
	width: 150px;
	height: 28px;
}

.common-chat-1 p{
	font-size: 24px;
	color: #FFFFFF;
}

.profile-photo{
	width: 2*var(--size);
	height: 2*var(--size);
}

.profile-photo img{
	width: 40px;
	height: 40px;
}

#photo-1{
	position: absolute;
	top: 36.7%; left: 20%;
}

#photo-2{
	position: absolute;
	top: 48.3%; left: 20%;
}

#photo-3{
	position: absolute;
	top: 59.9%; left: 20%;
}

#photo-4{
	position: absolute;
	top: 71.4%; left: 20%;
}

#photo-5{
	position: absolute;
	top: 82.9%; left: 20%;
}

.message-box{
	background-color: #F7FFE5;
	width: 570px;
	opacity: 0.7;
	height: 42px;
	position: absolute;
	top: 86.6%; left: 34.6%;
	border: 1px solid #FFFEE5;
	outline: 0 !important;
}

.botton-send{
	background: linear-gradient(0deg, #F7FFC3, #A0FFB0);
	width: 92px;
	opacity: 1.0;
	border: 1px solid #FFD4D4;
	height: 46px;
	position: absolute;
	top: 86.6%; left: 71.3%;
	outline: 0 !important;
}

.botton-send p{
	
	opacity: 1.0;
	text-align: center;
	font-size: 18;
	
}

.chat-user-names{
	width: 94px;
	height: 46px;	
	color: white;
	font-size: 21px;
}

#Ruslan{
	position: absolute;
	top: 40.7%; left: 23.5%;
}

#Alexa{
	position: absolute;
	top: 52%; left: 23.5%;
}

#Guest17{
	position: absolute;
	top: 63.3%; left: 23.5%;
}
#Yana{
	position: absolute;
	top: 74.7%; left: 23.5%;
}

#Vadim{
	position: absolute;
	top: 86.1%; left: 23.5%;
}

.number-of-users{

	position: absolute;
	top: 18.7%; left: 59.5%;
	margin: 0;
	
	float: right;
}

.online-users{
	float: right;
}

.online{
	margin: 0;
	font-size: 18px;
	margin-top: 0.3rem;
	color: #324CA8;
}

.active-users{
	width: 5rem;
	height: 9rem;
	
	background-color: #E7F8FF;
	display: none;
	margin: 0;
	padding-left: 0.5rem;
	border: 1px solid #67A4FF;
}

#user-1 img{
	margin-top: 1px;
	position: relative;
	top: -50%; left: 35%;

}

#user-2 img{
	position: relative;
	top: -50%; left: 35%;

}

#user-3 img{
	position: relative;
	top: -50%; left: 35%;

}

#user-4 img{
	position: relative;
	top: -800%; left: 35%;
}

.users-online{
   width: 10rem;
   height: 1rem;
   margin-top: 0.9rem;
}

.users-online-1{
   width: 10rem;
   height: 1rem;
   margin-top: 0.3rem;
}

.users-online-1 img{
   width: 1rem;
   height: 1rem;  
}


.users-online img{
   width: 1rem;
   height: 1rem;  
}

.name-user {
	margin: 0;
	padding-top: 0.02rem;
	padding-bottom: 0.3rem;
}

.name-user p{
	margin-top: 0;
}



#write-m{
	position: absolute;
	top: 88.6%; left: 35.4%;
	font-size: 18px;
}

.filters {
	width: 50px;
	height: 20px;
	position: absolute;
	top: 18.7%; left: 73.5%;
	background-color: #F7FFE5;
}



.filters i{
	width: var(--size);
	height: var(--size);
	
}

.filters-1 {
	width: 50px;
	height: var(--size);
	position: absolute;
	top: 18.7%; left: 73.5%;
	
}

.filters-box{
	width: 7rem;
	height: 8.2rem;
	background-color: #E7F8FF;
	float: right;
	display: block;
	margin: 0;
	padding: 0;
	display: none;
	
	border: 1px solid #67A4FF;
}


.filter-by{
	margin: 0;
	padding: 0;

}

.checkbox{
	margin-left: 0.5rem;
}

.filter-by p{
	margin: 0.5rem;
	font-size: 18px;

}

.circle{
	width: 15px;
	height: 15px;
	background-color: #D3FFEF;
	border-radius: 50%;
}

#circle-1{
	position: absolute;
	top: 53%; left: 32.5%;
}

#circle-2{
	position: absolute;
	top: 87.1%; left: 32.5%;
}

.chat-window{
	width: 664px;
	height: 386px;
	position: absolute;
	top: 25%; left: 34.5%;
}

#download-more{
	background-color:  #819CFF;
	color: white;
	border: 1px solid #3F61DA;
	position: absolute;
	top: 2%; left: 42%;
	outline: 0 !important;
}

.message{
	background-color: #F7FFE5;
	opacity: 0.9;
}

#message-1{
	width: 120px;
	height: 27px;
	display:table;
	border-radius: 10px 0px 10px 0px  ;
	position: absolute;
	top: 10%; left: 1%;
}

#message-1 p{
	position: absolute;
	top: -45%; left: 13%;
}	

#message-2{
	width: 200px;
	height: 47px;
	border-radius: 10px 0px 10px 0px;
	position: absolute;
	top: 22%; left: 1%;
}

#message-2 p{
	position: absolute;
	top: -26%; left: 7%;
}	

#message-3{
	width: 140px;
	height: 32px;
	border-radius: 0px 10px 0px 10px;
	position: absolute;
	top: 34.5%; left: 78.1%;
}

#message-3 p{
	position: absolute;
	top: -42%; left: 9.4%;
}	

#message-4{
	width: 180px;
	height: 47px;
	border-radius: 10px 0px 10px 0px;
	position: absolute;
	top: 46%; left: 1%;
}

#message-4 p{
	position: absolute;
	top: -26%; left: 7%;
}	

#today{
	font-size: 24px;
	color: #F7FFE5;
	position: absolute;
	top: 58%; left: 46%;
}

#message-5{
	width: 220px;
	height: 47px;
	border-radius: 10px 0px 10px 0px;
	position: absolute;
	top: 67%; left: 1%;
}

#message-5 p{
	position: absolute;
	top: -26%; left: 6.5%;
}	

#message-6{
	width: 230px;
	height: 69px;
	border-radius: 0px 10px 0px 10px;
	position: absolute;
	top: 78%; left: 64.6%;
}

#message-6 p{
	position: absolute;
	top: -18%; left: 9.4%;
}	

.time-of-message{
	width: 150px;
	height: var(--size);
}

.time-of-message p{
	font-size: 10px;
	opacity: 0.7;
}

#time-1{
	position: absolute;
	top: 14.3%; left: 1%;
	font-family: Garamond;
}

#time-2{
	position: absolute;
	top: 31.8%; left: 1%;
	font-family: Garamond;
}

#time-3{
	position: absolute;
	top: 40.4%; left: 84.4%;
	font-family: Garamond;
}

#time-4{
	position: absolute;
	top: 55.8%; left: 1%;
	font-family: Garamond;
}

#time-5{
	position: absolute;
	top: 76.8%; left: 1%;
	font-family: Garamond;
}

#time-6{
	position: absolute;
	top: 93.3%; left: 88.4%;
	font-family: Garamond;
}

.edit-delete{
	width: 50px;
	height: 30px;
}

.edit-delete img{
	width: 23px;
	height: 8px;
	opacity: 0.7;
}

#edit-delete-1{
	
	position: absolute;
	top: 48.8%; left: 75.2%;
}

#edit-delete-2{
		position: absolute;
		top: 81.5%; left: 75.2%;
}

.online-users:hover .active-users{
	display: block;
}

.filters-1:hover .filters-box{
	display: block;
}

.botton-send:hover .send{
	font-size: 19px;

}

.botton-send:active{
	background: linear-gradient(0deg, #A0FFB0, #F7FFC3);
	border: 2px solid #FFD4D4;
	color: white;
}

#download-more:active{
	color: blue;
}


